body::after {
	content: "";
	background-image: url('./imgs/chelsea-glitter-plain-textured-wallpaper-soft-grey-silver-p2640-20278_thumb.jpeg');
	opacity: 0.45;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1; 
	background-attachment: fixed;
}